<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alberto Morales</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>filter</string>
	<key>CFBundleIdentifier</key>
	<string>us.amorales.filter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>filterBar.html</string>
				<key>Identifier</key>
				<string>filterBar</string>
				<key>Label</key>
				<string>filterBar</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>600</real>
				<key>Identifier</key>
				<string>filterDialog</string>
				<key>Width</key>
				<real>500</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>filter</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Label</key>
				<string>filter</string>
				<key>Palette Label</key>
				<string>filter</string>
				<key>Popover</key>
				<string>filterDialog</string>
				<key>Tool Tip</key>
				<string>filter</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>afterPageLoad.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery-1.9.1.js</string>
				<string>beforePageLoad.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>filter search results</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://amorales.us</string>
</dict>
</plist>
